








-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: iposetu
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `ipos`
--

DROP TABLE IF EXISTS `ipos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ipos` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `type` varchar(50) DEFAULT NULL,
  `sub_type` varchar(50) DEFAULT NULL,
  `status` varchar(50) DEFAULT NULL,
  `open_date` date DEFAULT NULL,
  `close_date` date DEFAULT NULL,
  `allotment_date` date DEFAULT NULL,
  `listing_date` date DEFAULT NULL,
  `listing_price` decimal(10,2) DEFAULT NULL,
  `price_band` varchar(100) DEFAULT NULL,
  `issue_price` decimal(10,2) DEFAULT NULL,
  `face_value` decimal(10,2) DEFAULT NULL,
  `lot_size` int(11) DEFAULT NULL,
  `issue_size` varchar(100) DEFAULT NULL,
  `sale_type` varchar(50) DEFAULT NULL,
  `listing_exchange` varchar(100) DEFAULT NULL,
  `registrar` varchar(255) DEFAULT NULL,
  `qib_sub` decimal(10,2) DEFAULT NULL,
  `nii_sub` decimal(10,2) DEFAULT NULL,
  `retail_sub` decimal(10,2) DEFAULT NULL,
  `total_sub` decimal(10,2) DEFAULT NULL,
  `sub_updated_at` datetime DEFAULT NULL,
  `gmp_price` decimal(10,2) DEFAULT NULL,
  `gmp_percentage` decimal(10,2) DEFAULT NULL,
  `gmp_updated_at` datetime DEFAULT NULL,
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  `upstox_id` varchar(255) DEFAULT NULL,
  `symbol` varchar(100) DEFAULT NULL,
  `isin` varchar(100) DEFAULT NULL,
  `industry` varchar(255) DEFAULT NULL,
  `minimum_price` decimal(10,2) DEFAULT NULL,
  `maximum_price` decimal(10,2) DEFAULT NULL,
  `daily_start_time` time DEFAULT NULL,
  `daily_end_time` time DEFAULT NULL,
  `tick_size` decimal(10,2) DEFAULT NULL,
  `min_quantity` int(11) DEFAULT NULL,
  `cut_off_price` decimal(10,2) DEFAULT NULL,
  `rhp_url` text DEFAULT NULL,
  `drhp_url` text DEFAULT NULL,
  `timeline_json` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`timeline_json`)),
  `registrar_details` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`registrar_details`)),
  `sub_details_json` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`sub_details_json`)),
  `ipo_source` varchar(100) DEFAULT NULL,
  `ipo_last_updated` datetime DEFAULT NULL,
  `gmp_source` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=273 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ipos`
--

LOCK TABLES `ipos` WRITE;
/*!40000 ALTER TABLE `ipos` DISABLE KEYS */;
/*!40000 ALTER TABLE `ipos` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-09-10 12:18:56
